@model IEnumerable<Movies.ViewModels.TicketViewModel>
@{
    ViewData["Title"] = "Cart";
    int total = 0;
    foreach(var item in Model)
    {
        total += item.Price;
    }

    bool isempty = Model.Count() == 0 ? true : false;
}

<h1>Cart</h1>
<div class="col-8 adapt-float" style="border-right:solid black 1px; padding-right:30px">
@{
    await Html.RenderPartialAsync("TicketList", Model.ToList());
}
</div>
<div class="col-4 adapt-float padding:30px;">
    <p>Total: @total</p>
    <a @(isempty ? "" : "href=/Purchases/Create")><button class="btn-primary btn" @(isempty ? "disabled" : "")>Buy All</button></a>
</div>

