@model List<SessionViewModel>
@using Movies.ViewModels

@{
    ViewData["Title"] = "Sessions";
}

<h1>Sessions</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

@foreach (var session in Model)
{
    <h3><a href="/movies/Details/@session.MovieId">some data</a></h3>
    <details>
        <summary></summary>
        <br />
        <div>
            <h4>Availible sessions:</h4>
            @{
                await Html.RenderPartialAsync("~/Views/Shared/SessionsTable.cshtml", session);
            }
        </div>
        <br />
    </details>
    <br />
}
