@using Movies.ViewModels;
@model List<MovieViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
            @foreach (var movie in Model)
            {
                <a asp-controller="Movies" asp-action="Details" asp-route-Id="@movie.Id">
                    <img src="@Url.Action("ShowImage", "Movies", new { id = movie.Id })" class="full-width-img" alt="Movie Photo">
                </a>
            }
</div>

<div class="text-center">
    <a href="/Session/Index"><button class="big-button">Sessions</button></a>
</div>



