@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.unav_session {
    color: gray;
}

input[type=radio] {
    padding: 20px;
    -webkit-appearance: none;
    outline: unset;
    background-color: lightgray;
}

input[type=radio]:checked {
    display: inline-block;
    background-color: green;
    accent-color: green;
}

input[type=radio]:disabled {
    display: inline-block;
    background-color: red;
    accent-color: red;
}

td {
    padding: 0px 3px;
}

.genres {
    margin-top: 20px;
}

.genre {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 5px;
}

.actions {
    margin-top: 20px;
    text-align: center;
}

.main-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.main-list li {
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    position: relative;
}

.sub-list {
    display: none;
    position: absolute;
    background-color: #ffffff;
    cursor: pointer;
    list-style-type: none;
    top: 100%;
    z-index: 1;
    padding-left: 0;
}

.sub-list li {
    margin: 5px;
    padding: 5px;
}

.main-list li:hover .sub-list {
    display: block;
}

.main-list li {
    border: none;
    padding: 0px;
}



/* ���� ��� ��������� ��������� */
@keyframes moveHeader {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }

}

.moving-header {
    animation: moveHeader 2s infinite;
    /* �������� ���� ������� 2 ������� �� ������������� ���������� */
}



/* ���� ��� ������� ������� ����� */
@keyframes moveBottomAdvertisement {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

.bottom-advertisement {
    overflow: hidden;
    position: relative;
}

.bottom-advertisement img {
    width: 100%;
    height: auto;
    animation: moveBottomAdvertisement 5s linear infinite;
    /* �������� ���� ������� 5 ������ �� ������������� ���������� */
}



.video-container {
    width: 100%;
    height: 30vw;
    overflow: hidden;
    position: relative;
}

    .video-container iframe{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .video-container iframe {
        position: absolute;
        top: -60px;
        left: 0;
        width: 100%;
        height: calc(100% + 120px);
    }

.video-overlay
{
    position:absolute;
    height:100%;
    width:100%;

    background-color: #00000075;
}

.movie-title {
    color: white;
    margin-top: 20vw;
    margin-left: 3vw
}

.adapt-float{
    float: left;
}

@media only screen and (max-width: 600px) {
    .adapt-float {
        width: 100%;
    }
}

.flex {
    display:flex
}