@model Movies.ViewModels.GenreViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details about @Model.Name genre films</h1>


    @{
        await Html.RenderPartialAsync("~/Views/Movies/Index.cshtml", Model.Movies);
    }
   
    @if (User.IsInRole("Admins"))
    {
        <td>
        <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a><span> | </span>
            <a asp-action="Delete" asp-route-id="@Model?.Id">Delete</a>
        </td>
    }

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
