@model Movies.ViewModels.GenreViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details about @Model.Name genre films</h1>

<div>
    @{
        await Html.RenderPartialAsync("~/Views/Movies/Index.cshtml", Model.Movies);
    }
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
