@model IEnumerable<Movies.ViewModels.GenreViewModel>

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">

            <!-- wrapper для заголовка -->
            <div class="wrapper">
                <h2 class="text-center moving-header">Pick a genre that you like!</h2>
            </div>

            <div class="genres">
                @foreach (var item in Model)
                {
                    <div class="genre">
                        <h2>@item.Name</h2>
                        <a asp-controller="Genres" asp-action="Details" asp-route-Id="@item.Id">Details</a>
                    </div>
                }
            </div>

          

        </div>
    </div>
</div>


